---
layout: default
---
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row center">
      <h5 class="header col s12 light">
        {{ content }}
      </h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row center">
      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">Code</h5>
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <p class="light center">Freely available on GitHub</p>
          <a href="https://github.com/franciscodavid/TranslaSeq" id="download-button" class="btn-large waves-effect waves-light">
            <i class="material-icons left">cloud</i>Download
          </a>
        </div>
      </div>
      <div class="col s12 m4" style="background-color: whitesmoke">
        <div class="icon-block">
          <h5 class="center">Training</h5>
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <p class="light center">Get a taste of TranslaSeq usage</p>
          <a href="vignette.html" id="download-button" class="btn-large waves-effect waves-light">Get started</a>
          <br>&nbsp;
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">Documentation</h5>
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <p class="light center">Explore R documentation</p>
          <a href="TranslaSeq-Rd.html" id="download-button" class="btn-large waves-effect waves-light">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
